* {
    font-family: Microsoft JhengHei;
}

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.title {
    width: 100%;
    text-align: center;
    margin: 25px auto;
}

#keyboard {
    width: 100%;
    height: 300px;
    font-size: 50%;
    padding: 0px 5%;
    margin: 0 auto;
    font-size: 20px;
}

.piano {
    width: 90%;
    margin: 0 auto;
    padding: 0;
}

.p0 {
    height: 200px;
    width: 11%;
    padding: 0;
    border-color: #000;
    border-width: 0.5px;
    box-sizing: border-box;
    margin: 20px 0;
}

.p0:nth-child(even) {
    background: #30D5C8;
}

.p0:nth-child(odd) {
    background: #FFF;
}

.p0:hover {
    color: #FFF;
    background: #6c6c6c;
}

#p9 {
    width: 30%;
    height: 50px;
    margin: 0 35%;
}